.css-table{
    margin: 20px;
    padding: 50px;
    width: 98%;
    }
    td.a{
        white-space: nowrap;
        text-overflow:ellipsis;
        overflow: hidden;
        max-width:10px;
    }
    td.a:hover{
        overflow: visible;
    }