<div class="btn-back">
    <button (click)='refresh()' class="btn btn-secondary">
      <i class="fa fa-arrow-left" style="font-size:25px;color:rgb(176, 223, 172);"></i>
    </button>
  </div>
  <div class="container main-content bg-success p-2 text-dark bg-opacity-10">
    <h3 *ngIf='chngform' class="btn-bar"> Add Sponsors</h3>
    <h3 *ngIf='!chngform' class="btn-bar">Update Sponsors</h3>
        <form [formGroup]="addSponsors" class="row g-3 needs-validation" >

      <div class="formGroup col-md-12">
        <label for="name" class="form-label">Name :</label>
        <input type="text" class="form-control" formControlName="name">
      </div>

      <div class="formGroup col-md-12">
        <label for="description" class="form-label">Description :</label>
        <input type="text" class="form-control" formControlName="description">
      </div>

      <div class="formGroup col-md-12">
        <label for="icon" class="form-label">Icon :</label>
        <input type="text" class="form-control" formControlName="icon">
      </div>

      <div class="form-group btn-bar" *ngIf='chngform'>
        <button (click)='collectSponsors()' class="btn btn-secondary">
            Add Sponsors
        </button> &nbsp;&nbsp;&nbsp;
    </div>
    <div *ngIf='!chngform' class="form-group btn-bar">
        <button (click)='update()' type=" submit" class="btn btn-secondary">Update Sponsors</button> &nbsp;&nbsp;
       <button (click)='cancle()' type=" submit" class="btn btn-secondary">cancle</button> 
    </div>
    </form>

  </div>